* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1216px;
    padding: 0 20px;
}

.container-small {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.container-backgournd-color {
    background-color: #eff5fa;
    padding: 64px 0;
}

.buttons a {
    text-decoration: none;
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 16px;
}

.buttons button {
    border-radius: 1234px;
    padding: 12px 20px;
    font-weight: 700;
}

.section-title-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 0 20px;
}

.section-left-title-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 24px;
}

.section-top-title {
    color: #4f46e5;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #eef2ff;
    width: fit-content;
    border-radius: 1234px;
}

.section-title {
    color: #1e293b;
    font-weight: 800;
    font-size: 36px;
}

.section-subtitle {
    color: #475569;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.logo img {
    height: 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.header-container nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.header-container nav ul a {
    text-decoration: none;
    color: #475569;
    font-weight: 700;
}

.header-container .buttons button:first-child {
    color: #475569;
    border: 1px solid #cbd5e1;
}

.header-container .buttons button:nth-child(2) {
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    color: white;
}

.nav-dropdown {
    display: none;
}

.nav-dropdown-menu {
    display: none;
}

.banner-container {
    background-image: linear-gradient(to bottom, white 0%, white 30%, #4e46e58a 100%);
    padding: 96px 0px;
}

.banner-container .section-title {
    font-size: 60px;
}

.banner-container .download-buttons {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.banner-container .download-buttons img:first-child {
    width: 132px;
}

.banner-container .download-buttons > img:nth-child(2) {
    width: 148.5px;
}

.banner-images {
    margin: 0 auto;
    position: relative;
    padding: 64px 0 56px 0;
    width: 100%;
    max-width: 1008px;
}

.banner-container .banner-images img:first-child {
    width: 80%;
    margin-left: 20px;
    height: auto;
    display: block;
    border-radius: 16px;
    border: 1px solid #e2e8f052;
    box-shadow: 0px 22px 48px 0px hsl(217, 33%, 17%, 10%), 0px 88px 88px 0px hsl(217, 33%, 17%, 9%), 0px 198px 119px 0px hsl(217, 33%, 17%, 5%), 0px 352px 141px 0px hsl(217, 33%, 17%, 1%), 0px 550px 154px 0px hsl(217, 33%, 17%, 0%), 0px 0px 0px 8px hsla(0, 0%, 100%, 25%);
}

.banner-container .banner-images img:nth-child(2) {
    position: absolute;
    width: 23%;
    height: auto;
    top: 210px;
    left: 75%;
}

.company-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 64px;
}

.company-container img {
    max-width: 144px;
}

.feature-container {
    padding: 96px 0;
}

.feature-items {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 48px;
    margin-top: 48px;
    text-align: center;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.feature-container .feature-item img {
    width: 80px;
}

.feature-item h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #1e293b;
}

.feature-item p {
    color: #475569;
}

.work-container {
    padding: 96px 0;
}

.work-container .section-title-container img {
    padding: 12px;
    background-color: #eef2ff;
    width: 28px;
    border-radius: 1234px;
}

.work-cards {
    margin-top: 64px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.work-card-border {
    border-left: 1px solid #cbd5e1;
    border-right: 1px solid #cbd5e1;
}

.work-card h1 {
    color: #4f46e5;
    font-size: 60px;
    font-weight: 700;
}

.work-card p {
    color: #475569;
    font-weight: 700;
    font-size: 18px;
}

.procrastinators-container {
    padding: 96px 0;
}

.procrastinators-contents {
    margin-top: 64px;
    display: flex;
    gap: 32px;
}

.procrastinators-contents-left {
    padding: 64px 0;
    width: 100%;
}

.procrastinators-contents-list {
    padding: 24px 0 24px 20px;
    border-left: 4px solid #e0e7ff;
}

.top-card {
    border-color: #4f46e5;
}

.middle-card {
    margin: 8px 0;
}

.procrastinators-contents-list h5 {
    font-size: 20px;
    font-weight: 700px;
    color: #475569;
    margin-bottom: 12px;
}

.procrastinators-contents-list p {
    color: #475569;
}

.procrastinators-contents-right {
    background-image: linear-gradient(to bottom, #cdc8e738, #4e46e544);
    border-radius: 32px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.procrastinators-contents-right div {
    display: flex;
    gap: 40px;
    rotate: -30deg;
    position: absolute;
    top: -260px;
    left: -50px;
}

.procrastinators-contents-right img {
    max-width: 364px;
}
.procrastinators-contents-right img:first-child {
    margin-top: 200px;
}

.procrastinators-contents-right img:nth-child(2) {
    margin-bottom: 200px;
}

.testimonial-container {
    padding: 96px 0;
}

.testimonial-container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    padding-top: 64px;
}

.testimonial-container-card {
    border: 1px solid #e2e8f0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
}

.testimonial-rating img {
    width: 24px;
}

.testimonial-container .avatar {
    display: flex;
    gap: 12px;
    align-items: center;
}

.testimonial-container .avatar img {
    height: 48px;
    width: 48px;
    border-radius: 1234px;
}

.testimonial-container .avatar h5 {
    font-size: 16px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 2px;
}

.testimonial-container p {
    font-size: 18px;
    line-height: 29px;
    color: #475569;
}

.testimonial-container .avatar p {
    font-size: 16px;
    color: #475569;
}

.location-container {
    padding: 64px 0;
}

.location-container-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    padding-top: 64px;
}

.location-container-card {
    border: 1px solid #e2e8f0;
    padding: 24px;
    border-radius: 24px;
}

.location-container-card img {
    width: 24px;
    padding-bottom: 24px;
}

.location-container-card h5 {
    font-weight: 800;
    font-size: 20px;
    color: #1e293b;
    padding-bottom: 10px;
}

.location-container-card p {
    color: #1e293b;
}

.faq-container {
    padding: 96px 0;
}

.faq-container-lists {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 48px;
}

.faq-container-list {
    padding: 16px;
    border-bottom: 1px solid #cbd5e1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.faq-container-list img {
    width: 24px;
}

.faq-container-list h5 {
    font-size: 16px;
    font-weight: 800;
    color: #334155;
    flex-grow: 1;
}

.faq-container-list p {
    font-size: 16px;
    color: #64748b;
    line-height: 1.6;
}
.faq-container-list-dropdown .faq-container-list {
    border-bottom: none;
}

.faq-container-list-dropdown .faq-container-list img:nth-child(3) {
    rotate: 180deg;
}

.faq-container-list-dropdown {
    border-bottom: 1px solid #cbd5e1;
}
.faq-container-list-dropdown p {
    padding-left: 18px;
    padding-bottom: 12px;
    color: #475569;
    font-size: 14px;
}

.download-section {
    overflow: hidden;
    background-image: linear-gradient(to right, #e5e5e98a, #c5c3e78a);
}

.download-container {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    gap: 96px;
}

.download-container .buttons button:first-child {
    color: #4f46e5;
    border: 1px solid #4f46e5;
}

.download-container .buttons button:nth-child(2) {
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    color: white;
}

.download-container-images {
    position: relative;
}

.download-container-images img {
    max-width: 354px;
}

.download-container-images img:first-child {
    position: relative;
    top: 100px;
}

.download-container-images img:nth-child(2) {
    position: absolute;
    left: 400px;
    top: -100px;
}
.footer-container {
    padding: 96px 0;
}

.footer-top-lists {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.footer-top-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-top-list li {
    font-weight: 500;
    color: #475569;
    list-style: none;
}

.footer-top-list li:first-child {
    font-weight: 700;
    color: #1e293b;
    padding-bottom: 4px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    border-top: 1px solid #cbd5e1;
    margin-top: 32px;
}

.footer-bottom div:nth-child(2) img {
    width: 24px;
    padding: 12px;
    border-radius: 1234px;
    border: 1px solid #cbd5e1;
    rotate: -180deg;
}

.footer-bottom div:nth-child(3) p {
    font-size: 14px;
    font-weight: 500;
    color: #94a3b8;
}

@media (max-width: 767px) {
    .section-title-container {
        gap: 20px;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .section-title {
        font-size: 30px;
    }

    .header-container .nav-items,
    .buttons {
        display: none;
    }

    .nav-dropdown {
        display: block;
    }

    .nav-dropdown-menu-show {
        display: none;
    }

    .nav-dropdown-menu li {
        list-style: none;
    }

    .nav-dropdown-menu a {
        text-decoration: none;
        color: #1e293b;
    }
    .nav-dropdown-menu {
        position: absolute;
        background-color: #e0e7ff;
padding: 24px 0;
        width: 100%;
        left: 0;
        top: 72px;
        text-align: center;
    }
    .nav-dropdown-menu ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav-dropdown img {
        width: 24px;
        cursor: pointer;
    }

    .banner-container .section-title {
        font-size: 36px;
    }

    .banner-container .banner-images img:first-child {
        width: 100%;
        margin-left: 0px;
    }

    .banner-container .banner-images img:nth-child(2) {
        top: 210px;
        left: 68%;
    }

    .company-container {
        gap: 32px;
    }

    .company-container img {
        width: 74px;
    }

    .feature-items {
        display: grid;
        grid-template-columns: auto;
        gap: 32px;
    }

    .feature-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .feature-container .feature-item img {
        width: 64px;
        padding-bottom: 12px;
    }

    .feature-item h4 {
        font-size: 18px;
    }

    .work-container .section-title-container img {
        width: 24px;
    }

    .work-cards {
        grid-template-columns: auto;
        gap: 32px;
    }

    .work-card {
        gap: 16px;
    }

    .work-card-border {
        border-left: none;
        border-right: none;
        padding: 32px 0;
        border-top: 1px solid #cbd5e1;
        border-bottom: 1px solid #cbd5e1;
    }

    .procrastinators-contents {
        flex-direction: column;
    }

    .procrastinators-contents-left {
        padding: 0px 0;
    }

    .procrastinators-contents-right {
        height: 500px;
    }

    .procrastinators-contents-right div {
        position: static;
    }
    .procrastinators-contents-right img {
        width: 50%;
    }

    .testimonial-container-cards {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .testimonial-container-cards .testimonial-container-card:nth-child(n + 5) {
        display: none;
    }

    .location-container-cards {
        grid-template-columns: auto;
        gap: 16px;
    }

    .location-container-card {
        padding: 20px;
    }

    .download-container {
        grid-template-columns: auto;
        gap: 48px;
        padding: 64px 20px;
    }

    .download-container .buttons {
        flex-direction: column;
    }

    .download-container-images img {
        width: 47%;
    }

    .download-container-images {
        position: static;
        display: flex;
        justify-content: space-between;
    }

    .download-container-images img:first-child {
        position: static;
        padding-top: 30%;
    }

    .download-container-images img:nth-child(2) {
        position: static;
        padding-bottom: 30%;
    }

    .footer-top-lists {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 20px;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 12px;
    }
}
/* 
@media (min-width: 768px) and (max-width: 1023px) {
    .footer {
        justify-content: center;
        gap: 30px;
    }
}

@media (min-width: 1024px) {
    .footer {
        justify-content: space-between;
    }
} */
